<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 存放页面模板 -->

<!--头部-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <!-- 直接使用也可以直接获取Thymeleaf的值,thymeleaf 中不能直接写 表达式 -->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:white;">用户：[[${session.loginUser}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/user/loginOut}">退出</a>
        </li>
    </ul>
</nav>

<!--侧边栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${activeUrl=='main.html'?'nav-link active':'nav-link'}"
                   th:href="@{/main.html}">
                    首页
                </a>
            </li>

            <li class="nav-item">
                <!-- 我需要知道当前是员工管理页面，通过参数来判断！ -->
                <a th:class="${activeUrl=='emps'?'nav-link active':'nav-link'}"
                   th:href="@{/emps}">员工管理
                </a>
            </li>

        </ul>
    </div>
</nav>